#kaocha/v1
{:tests
 [{:id           :test-unit
   :source-paths ["src"]
   :test-paths   ["test"]
   :ns-patterns  [".*"]}

  {:id           :test-integration
   :source-paths ["src"]
   :test-paths   ["test-integration"]
   :ns-patterns  [".*"]}]}
